/*======================================================================*\
|| #################################################################### ||
|| # Youjoomla LLC
|| # ---------------------------------------------------------------- # ||
|| # Copyright ©2006-2009 Youjoomla LLC. All Rights Reserved.           ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/
#toppanel{height:16px; padding: 0;}
#toppanel_in{height:15px; margin:0 auto 0 auto; padding: 0; text-align:center; position:relative; z-index:6005}
#topholder{width:600px; float:left; text-align:right; height:10px}
#tools{font-size:10px; clear:right; width:350px; float:left; text-align:left; line-height:15px; padding:0 0 0 10px}
#tools span{padding:0 10px 0 0}
.fs{font-size:9px}
.fm{font-size:11px}
.fl{font-size:13px}
#toplinks{width:600px; height:15px; text-align:left; margin: 0; padding: 0; float:right}
#linkem{width:600px; height:13px; margin:0 ; text-align:left; font-size:10px; float:left}
#about, #showHideLogin, #showHideRegbox{width:90px; text-align:right; padding:0 20px; display:block; float:right; height:15px; line-height:15px}

#regbox{background:#F5F5F5; height:340px; line-height:23px; width:410px; border:1px solid #D4D1D1; position:absolute; top:30px; right:0; text-align:left; padding:10px; z-index:6002}
#inset{background:#F5F5F5; height:315px; width:250px; padding:10px; border:1px solid #D4D1D1; text-align:left; position:absolute; top:30px; right:0; z-index:6002}
#inset .yjsquare{width:100%; background:none; border:none}
#centertop{text-align:left; margin:0 auto;  background:url(../images/dark/vrh.png) no-repeat 0px top}
#centertop_ru{text-align:left; margin:0 auto;  background:url(../images/dark/vrh_ru.png) no-repeat 0px top}
#centerbottom{text-align:left; margin:0 auto;}
#header{text-align:left; height:89px; position:relative;}
#logo{height:25px; width:780px; float:left; text-align:left}
#tags h1 a{text-indent:-7500px; display:block; width:280px; height:50px; text-decoration:none}
#tags{width:280px; height:50px; float:left; overflow:hidden; margin:0; padding:0}

#banner{height:40px; float:right; margin-top:0px; overflow:hidden; text-align:right}

.search{}
.search .inputbox{}
#pathway{padding:3px 5px}

#topmodule{margin:0 auto; text-align:left; overflow:hidden; margin-bottom:10px; border: 0px;}

#wrap, #wrapblank{width:100%; margin:0 auto; text-align:left; height:100% !Important; overflow: hidden;}
#insidewrap, #insidewrapblank{height:100% !Important; height:1%}

#holder{height:100% !Important; margin:0 auto; text-align:center; padding:0 0 10px 0}

#leftblock{float:left; height:100% !Important; height:1%; overflow:hidden; padding-top:20px; text-align:left; background: #f5f5f5 url(../images/dark/lijevo.png) no-repeat 5px 0px}

#midblock{float:left; height:100% !Important; height:1%; text-align:left; background: #f5f5f5;}
#rightblock{float:left; height:100% !Important; height:1%; overflow:hidden; text-align:left; background: #f5f5f5 url(../images/right_side.jpg) no-repeat 3px top}

.inside{padding:5px 0; overflow:hidden}

.insidem{padding:10px 5px 5px 5px}

#bottommodule{margin:0 auto; text-align:left; overflow:hidden; margin-bottom:10px}

#footer{clear:both; text-align:center; overflow:hidden; margin:0 auto; padding:0; height:70px}
#holdf{margin:0 auto; height:70px; text-align:center; overflow:hidden}
#youjoomla{clear:both; text-align:left; padding:0px 10px; overflow:hidden; margin:0 auto}
#cp{float:left; text-align:left; padding:0; overflow:hidden; margin:25px 0 0 0}

#footmod{clear:both; text-align:center; padding:0px; margin:0px; overflow:hidden}

.news_item{margin:5px 0px; padding:0px 5px}

.newsitem_tools{display:block; width:100%; margin:5px 0 5px 0 !Important; overflow:hidden}
.newsitem_info{width:70%; display:block; height:10px; float:left}
.buttonheading{width:30%; display:block; overflow:hidden; padding:0; float:right}
.buttonheading img{border:0}
.email, .print, .pdf{float:right; margin:0px 2px 0 0; width:16px}
.createby{padding:0 3px 0 0px}
.createdate{padding:0 3px 0 0px}
.newsitem_section{padding:0 3px 0 0px}
.newsitem_category{padding:0 3px 0 0px}
.newsitem_section a{padding:0 3px 0 0px}
.newsitem_category a{padding:0 3px 0 0px}
.newsitems_link{}
.newsitem_text{width:100%; display:block; padding:5px 0 0 0 !Important}
.modifydate{width:100%; display:block; margin:5px 0; clear:both}
.fptops{position:relative}
.news_item_article{padding:0px 0 0 0}

a.category:link, 
a.category:visited, 
a.category:focus{font-weight:bold; font-size:100%}
.small{}

ul.pagination{margin:15px auto 10px; padding:10px 0 0}
ul.pagination li, 
ul.pagination li:hover{background:none; display:inline; margin:3px; padding:0}
ul.pagination li span{padding:2px 5px}
ul.pagination a{padding:2px 3px; text-decoration:none}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{}
.pagenavbar{font-weight:bold; padding-left:14px}
.pagenavcounter{font-weight:bold; padding:8px 14px 0 14px}

.yjsquare h3, 
.yjsquare_yj1 h3, 
.yjsquare_yj2 h3, 
.yjsquare_yj3 h3{font-weight:normal; overflow:hidden; font-size:18px; padding:0 0 0 5px; margin:5px}
.yjsquare h3 span, 
.yjsquare_yj1 h3 span, 
.yjsquare_yj2 h3 span, 
.yjsquare_yj3 h3 span{text-transform:capitalize; overflow:hidden; font-weight:normal}
.yjsquare p, 
.yjsquare_yj1 p, 
.yjsquare_yj2 p, 
.yjsquare_yj3 p{overflow:hidden; padding:3px}
.yjsquare_in, 
.yjsquare_in_yj1, 
.yjsquare_in_yj2, 
.yjsquare_in_yj3{overflow:hidden; padding:5px}
.yjsquare, 
.yjsquare_yj1, 
.yjsquare_yj2, 
.yjsquare_yj3{margin:5px 0 7px 0px; padding:0px; float:left; clear:both; width:100%; height:100% !Important; height:1%}

.yjsquare_in img {
border: 1px solid transparent;
}

.yjsquare_in img:hover {
border: 1px solid #999999;
}

#bottoms_in .yjsquare_yj1 h3, 
#bottoms_in .yjsquare_yj2 h3, 
#bottoms_in .yjsquare_yj3 h3{color:#fff}

.pollbuttons{margin:0 auto; width:80%; text-align:center; height:30px}

#modlgn_passwd, #modlgn_username{width:95%}

#advert1{margin:0; overflow:hidden; height:289px; background:url(../images/advert1.gif) repeat-x left top}
#advert1_in{margin:0; padding:0; overflow:hidden; margin:0 auto; text-align:left; height:279px}
#advert1_in .yjsquare{padding:0; margin:0}
#advert1_in .yjsquare_in{padding:15px 0 0 0; margin:0}

#slideshow{overflow:hidden; padding:0px 30px; margin:0 auto; background:transparent; position:relative; float:left}
.slideuser{}
#SlideBox{height:279px; background:url(../images/advert1.gif) repeat-x left top}
.SlideBox{float:left; overflow:hidden; background:transparent}
.SlideBox div{height:279px; overflow:hidden}
.SlideBox div div{height:auto; float:left; overflow:hidden}
.SlideBox div div div{width:100%}

.sliden{position:absolute; right:0px; top:107px; height:65px; width:22px; z-index:999; text-indent:-5000px; background:url(../images/sliden.gif) no-repeat left top}
.sliden:hover{background:url(../images/sliden.gif) no-repeat left bottom}
.slidep{position:absolute; z-index:999; left:0; top:107px; height:65px; width:22px; text-indent:-5000px; background:url(../images/slidep.gif) no-repeat left top}
.slidep:hover{background:url(../images/slidep.gif) no-repeat left bottom}

#topmods{width:100%; margin:0; overflow:hidden; height:159px; background:url(../images/topmods.gif) repeat-x left top}
#topmods_in{padding:0; overflow:hidden; margin:0 auto; text-align:left; height:169px}
#user4, #user5, #user6{float:left; clear:right; padding:0; margin:0}
#topmods_in .yjsquare h3{padding:0 0 0 5px}

#bottoms{width:100%; margin:0; overflow:hidden; height:185px}
#bottoms_in{padding:0; overflow:hidden; margin:0 auto; text-align:left; height:160px}
#user7, #user8, #user9, #user10{float:left; clear:right; padding:8px 0 0 0; margin:0}
#bottoms_in .yjsquare h3{padding:0 0 0 5px; color:#fff}
#bottoms_in .yjsquare h3 span, 
#bottoms_in .yjsquare_yj1 h3 span, 
#bottoms_in .yjsquare_yj2 h3 span, 
#bottoms_in .yjsquare_yj3 h3 span{color:#fff}
.moduletable{margin:0 0 8px 0}

.e-mail {
background: #ffffff url(../images/req.png) no-repeat right center}
}

.fb-like {
height: 60px;
border: 1px solid #00000;
overflow: hidden;
}

.google_button {
width: 60px;
float: left;
}

.tw_button {
width: 80px;
float: left;
margin-right: 10px;
}

.lin_button {
width: 60px;
float: left;
}

.fb_iframe_widget_lift {
z-index: 100000 !important;
overflow: visible !important; 
}

#test {
display: block;
width: 60px;
height: 62px;
}